cuquantum-python-cu12
cupy-cuda12x
numpy
pandas
matplotlib
seaborn
scipy
scikit-learn
torch
torchvision
torchaudio
jupyter
jupyterlab
ipykernel
ipywidgets
tqdm
h5py
plotly
networkx
pillow
pennylane
cudaq
